<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('../partials/head') %>
</head>
<body>
  <header>
    <%- include ('../partials/header') %>
  </header>
  <main>
    <section id="nextTech" style="background: #fff;">
      <h4>Next Tech-Watch</h4>
      <% techData.forEach(function(tech){ %>
        <div>
          <h4><%= tech.subject %></h4>
          <p>
            <span><b>Students affiliate:</b> <%= tech.group.join(' / ') %></span>
            <span><b>When:</b> <%= tech.deadline %></span>
          </p>
        </div>
      <% }) %>
    </section>
    <section id="addTech">
      <form method="POST" action="/createGroupe">
        <label for="sbj"><b>Subject:</b> </label>
        <input type="text" name="subj" id="sbj" required>
        <label for="ddln"><b>Deadline:</b> </label>
        <input type="date" name="dline" id="ddln" required>
        <label for="stdtNum"><b>Number students:</b> </label>
        <input type="number" name="mmbr" id="stdtNum" required>
        <input type="submit" value="Create Tech-watch">
      </form>
    </section>
    <footer>
      <%- include ('../partials/footer') %>
    </footer>
  </main>
</body>
</html>