<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('../partials/head') %>
</head>
<body>
  <header>
    <%- include ('../partials/header') %>
    </nav>
  </header>
  <main>
    <section id="nextTech" style="background: #fff;">
      <h4>Next Tech-Watch</h4>
      <% next.forEach(function(tech){ %>
        <div>
          <h4><%= tech.subject %></h4>
          <p>
            <span><b>Students affiliate:</b> <%= tech.group.join(' / ') %></span>
            <span><b>When:</b> <%= tech.deadline %></span>
          </p>
        </div>
      <% }) %>
    </section>
    <section id="prevTech">
      <h4>Previous Tech-watch</h4>
      <% prev.forEach(function(tech){ %>
        <div>
          <h4><%= tech.subject %></h4>
          <p>
            <span><b>Students affiliate:</b> <%= tech.group.join(' / ') %></span>
            <span><b>When:</b> <%= tech.deadline %></span>
          </p>
        </div>
      <% }) %>
    </section>
    <footer>
      <%- include ('../partials/footer') %>
    </footer>
  </main>
</body>
</html>